{% extends 'base.html' %}
{% block preview_title %}About Us{% endblock %}

{% block title %}About Us{% endblock %}
{% block imports %}
    <style>
        #about_div {
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: rgba(250, 250, 250, 0.7);
            padding: 10px 40px 40px 40px;
            border-radius: 4px;
            color: #2a3644;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        }

        .rounded-circle {
            max-width: 200px;
        }

        .team-member {
            transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
        }

        .team-member:hover {
            -webkit-transform: scale(1.15);
        }
    </style>
{% endblock %}
{% block content %}
    <div id="about_div" class="container" style="text-align: center">

        <!-- Introduction Row -->
        <h1 class="my-4">About Us
            {#            <small>It's Nice to Meet You!</small>#}

        </h1>
        <small style="font-size: large">BobcatCourses makes choosing your classes, and making your schedule quick and
            painless.
        </small>
        <p>
            <button style="margin-top: 5px" class="btn btn-warning" data-toggle="collapse"
                    data-target="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample">Contact Us
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body" style="max-width: 600px;margin: 0 auto;">
                <form method="post">
                    {% csrf_token %}
                    <h6 style="padding-bottom: 5px;margin-top: -5px">Let us know any suggestions or improvements <i
                            class="far fa-smile"></i></h6>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" name="name" placeholder="Name (Optional)">
                        </div>
                        <div class="col">
                            <input type="email" class="form-control" name="email" placeholder="Email (Optional)">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 10px">
                        <textarea class="form-control" placeholder="Your suggestions..." name="message" id="message"
                                  rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-block btn-dark">Submit</button>

                </form>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 style="text-align: center" class="my-4">Our Team</h2>
            </div>
            <div class="col-lg-6 col-sm-6 text-center mb-4 team-member">
                <img class="rounded-circle img-fluid d-block mx-auto"
                     src="https://4qr7k2a2xza2vctux33bisalkw-wpengine.netdna-ssl.com/wp-content/uploads/2015/07/Full-time-hiring-8.2015-07-700x699.png"
                     alt="">
                <h3>Maxime
                    <small>(iOS)</small>
                </h3>
                {#                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>#}
            </div>
            <div class="col-lg-6 col-sm-6 text-center mb-4 team-member">
                <img class="rounded-circle img-fluid d-block mx-auto"
                     src="https://i.imgur.com/6hnAn2a.png" alt="">
                <h3>Christian
                    <small>(Django)</small>
                </h3>
                {#                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>#}
            </div>
            <div class="col-lg-6 col-sm-6 text-center mb-4 team-member">
                <img class="rounded-circle img-fluid d-block mx-auto" src="https://chenglou.github.io/react/img/logo.svg"
                     alt="">
                <h3>Miguel
                    <small>(React)</small>
                </h3>
                {#                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>#}
            </div>
            <div class="col-lg-6 col-sm-6 text-center mb-4 team-member">
                <img class="rounded-circle img-fluid d-block mx-auto"
                     src="https://blog.siliconstraits.vn/wp-content/uploads/2015/07/Full-time-hiring-8.2015-08-e1440676569839.png"
                     alt="">
                <h3>Fisher
                    <small>(Android)</small>
                </h3>
                {#                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>#}
            </div>
        </div>

    </div>
{% endblock %}