{% load static from staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta property="og:site_name" content="Bobcat Courses"/>
    <meta property="og:title" content="{% block preview_title %}{% endblock %}"/>
    <meta property="og:description"
          content="Search, for courses at UC Merced, and automatically generate schedules.
          View your saved schedules. And Register for classes directly through the app."/>
    <meta property="og:image" content="https://imgur.com/a/bGunD">
    <meta property="og:type" content="website"/>


    <link rel="shortcut icon" type="image/png"
          href="{% static "favicon.png" %}"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="{% static "font-awesome/js/fontawesome-all.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="{% static "css/bootstrap-better-nav.min.css" %}">
    <script src="{% static "js/bootstrap-better-nav.min.js" %}"></script>
    {% block imports %}
    {% endblock %}
    <title>Bobcat Courses | {% block title %}Home{% endblock %}</title>
    <style>
        #body {
            background: #f1f7fc;
        }
    </style>
</head>
<body id="body">

{% block header %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/app/bobcat-courses/schedules" style="margin-top: -5px"><img
                    src="{% static "favicon.png" %}"
                    class="d-inline-block align-top" alt="" style="padding-right: 5px;max-height: 30px">Bobcat
                Courses</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if request.path == '/app/bobcat-courses/schedules' %}active{% endif %}">
                        <a class="nav-link" href="/app/bobcat-courses/schedules">Plan Schedules</a>
                    </li>
                    <li class="nav-item {% if request.path == '/app/bobcat-courses/profile' %}active{% endif %}">
                        <a class="nav-link" href="/app/bobcat-courses/profile">My Profile</a>
                    </li>
                    <li class="nav-item {% if request.path == '/app/bobcat-courses/saved-schedules' %}active{% endif %}">
                        <a class="nav-link" href="/app/bobcat-courses/saved-schedules">Saved Schedules</a>
                    </li>
                </ul>
                <ul style="margin-left: -40px;margin-bottom: 0">
                    {% if request.user.is_authenticated %}

                        <form class="form-inline" action="/app/bobcat-courses/logout">
                            <div class="form-group">
                                <span class="navbar-text">
                                            Welcome
                                    {% if request.user.first_name and request.user.first_name != "Anonymous" %}
                                        {{ request.user.first_name }}{% else %}{{ request.user.username }}{% endif %}
                                    &nbsp;</span>
                                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" id="logout_button">
                                    Logout
                                </button>
                            </div>
                        </form>
                    {% else %}
                        <form action="/app/bobcat-courses/login">
                            <button type="submit"
                                    class="btn btn-outline-success">Login
                            </button>
                        </form>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% if error.message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ error.message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
{% block content %}
{% endblock %}
</body>
</html>