{% extends 'base.html' %}
{% block preview_title %}Password Change{% endblock %}

{% block title %}Password Change{% endblock %}
{% block imports %}
    <style>
        #pw-reset-form {
            max-width: 320px;
            width: 90%;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.90);
            padding: 0 40px 40px 40px;
            border-radius: 4px;
            color: #505e6c;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        }

        #reset_password_div {
            padding: 80px 0;
        }

        #icon_login {
            text-align: center;
            padding-bottom: 20px;
            font-size: 100px;
            color: rgb(59, 157, 244);
        }

        .form-control {
            background: #f7f9fc;
            border: none;
            border-bottom: 1px solid #dfe7f1;
            border-radius: 0;
            box-shadow: none;
            outline: none;
            color: inherit;
            text-indent: 8px;
            height: 42px;
        }

        #reset_password_button {
            background: #d9ca00;
            border: none;
            border-radius: 4px;
            padding: 11px;
            box-shadow: none;
            margin-top: 26px;
            text-shadow: none;
            outline: none !important;
            color: #575655;
        }
    </style>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div id="reset_password_div">
            <div id="pw-reset-form">
                <form method="post" action="">
                    {% csrf_token %}
                    <div id="icon_login"><i class="fas fa-key"></i></div>
                    <div class="form-group">
                        <label for="old_password">Old Password</label>
                        <input autocomplete="nope" type="password" class="form-control" id="old_password"
                               name="old_password"
                               placeholder="Old Password" required>
                    </div>
                    <div class="form-group">
                        <label for="new_password">New Password</label>
                        <input autocomplete="nope" type="password" class="form-control" id="new_password"
                               name="new_password"
                               placeholder="New Password" required>
                    </div>
                    <button onclick="window.location.href = '/app/bobcat-courses/about';" id="reset_password_button"
                            type="submit" class="btn btn-primary btn-block">Change Password
                    </button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">You aren't logged in so you can't change your password.</h1>
            </div>
        </div>
    {% endif %}
{% endblock %}