{% extends 'base.html' %}
{% block imports %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/css/fileinput.min.css" media="all"
          rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/themes/fa/theme.min.js"></script>
    <style>
        #login-form {
            max-width: 450px;
            width: 90%;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.94);
            padding: 0 40px 40px 40px;
            border-radius: 4px;
            color: #505e6c;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        }

        #login_div {
            padding-bottom: 20px;
        }

        #icon_login {
            text-align: center;
            padding-bottom: 20px;
            font-size: 100px;
            color: rgb(59, 157, 244);
        }

        #submit_button {
            background: #d9ca00;
            border: none;
            border-radius: 50px;
            padding: 11px;
            box-shadow: none;
            margin-top: 26px;
            text-shadow: none;
            outline: none !important;
            color: #575655;
        }
    </style>
{% endblock %}

{% block preview_title %}My Profile{% endblock %}
{% block title %}My Profile{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div class="jumbotron jumbotron-fluid" style="padding: 10px;">
            <div class="container">
                <h1 class="display-4">Whats up?</h1>
                <p class="lead">Hello
                    {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}, this
                    feature is in progress</p>
            </div>
        </div>
        <div id="login_div">
            <form id="login-form" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="icon_login"><i class="fas fa-user"></i></div>
                <label for="input-id" style="padding-left: 4px">Select your Profile picture...</label>
                <div class="form-group">
                    <input id="input-id" name="profile_picture" type="file" class="file" required>
                </div>
                <button id="submit_button" type="submit" class="btn btn-primary btn-block">Submit</button>
                <script>$("#input-id").fileinput({
                    maxFileCount: 1,
                    'showUpload': false,
                    'previewFileType': 'any',
                    maxFileSize: 1000,
                    theme: "fa",
                    allowedFileExtensions: ["jpg", "png", "jpeg"]
                });</script>
            </form>
        </div>
    {% else %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Not Logged In</h1>
                <p class="lead">Login to Save and view Saved schedules</p>
            </div>
        </div>
    {% endif %}
{% endblock %}