{% extends 'base.html' %}
{% block imports %}

{% endblock %}

{% block preview_title %}My Profile{% endblock %}
{% block title %}My Profile{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Whats up?</h1>
                <p class="lead">Hello
                    {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}, this
                    feature is in progress</p>
            </div>
        </div>
    {% else %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Not Logged In</h1>
                <p class="lead">Login to Save and view Saved schedules</p>
            </div>
        </div>
    {% endif %}
{% endblock %}