{% extends 'base.html' %}
{% block imports %}
    <style>
        #register_form {
            max-width: 650px;
            width: 90%;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.90);
            padding: 0 40px 40px 40px;
            border-radius: 4px;
            color: #505e6c;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        }

        #register_div {
            padding: 80px 0;
        }

        #icon_register {
            text-align: center;
            padding-bottom: 20px;
            font-size: 100px;
            color: rgb(59, 157, 244);
        }

        .form-control {
            background: #f7f9fc;
            border: none;
            border-bottom: 1px solid #dfe7f1;
            border-radius: 0;
            box-shadow: none;
            outline: none;
            color: inherit;
            text-indent: 8px;
            height: 42px;
        }

        #register_button {
            background: #d9ca00;
            border: none;
            border-radius: 4px;
            padding: 11px;
            box-shadow: none;
            margin-top: 26px;
            text-shadow: none;
            outline: none !important;
            color: #575655;
        }

        #login {
            display: block;
            text-align: center;
            font-size: 12px;
            color: #6f7a85;
            opacity: 0.9;
            text-decoration: none;
            padding-top: 10px;
            margin-bottom: -10px;
        }

        #login:hover {
            opacity: 1;
            text-decoration: none;
            color: #2d2d2d;
        }
    </style>
{% endblock %}

{% block preview_title %}Register{% endblock %}
{% block title %}Register{% endblock %}
{% block content %}
    <div id="register_div">
        <form method="post" action="" id="register_form">
            {% csrf_token %}
            <div id="icon_register"><i class="far fa-calendar-alt"></i></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="email" class="form-control" id="email" name="email"
                           placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="username" name="username"
                           placeholder="Username" required>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="password"
                       placeholder="Password" required>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="first_name" name="first_name"
                           placeholder="First Name">
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="last_name" name="last_name"
                           placeholder="Last Name">
                </div>
            </div>
            <div style="margin: auto; width: 70%">
                <button id="register_button" type="submit" class="btn btn-primary btn-block">Sign Up</button>
                <a id="login" href="/app/bobcat-courses/login">Already registered? Login.</a>
            </div>
        </form>
    </div>
{% endblock %}