{% extends 'base.html' %}
{% load static from staticfiles %}
{% block imports %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.4/jquery.typeahead.min.css">


    <style>
        #top_div {
            margin: 10px auto;
            background-color: rgba(255, 255, 255, 0.94);
            padding: 10px 40px 40px 40px;
            border-radius: 4px;
            color: #505e6c;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        }

        .scrollable-card::-webkit-scrollbar, .tt-menu::-webkit-scrollbar {
            width: 5px;
        }

        .scrollable-card::-webkit-scrollbar-track, .tt-menu::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 5px;
        }

        .scrollable-card::-webkit-scrollbar-thumb, .tt-menu::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 5px;
        }

        .scrollable-card::-webkit-scrollbar-thumb:hover, .tt-menu::-webkit-scrollbar-thumb:hover {
            background: #555;
            border-radius: 5px;
        }

        .full {
            background-color: #ffd1ca;
        }

        .not-full {
            background-color: #c2ffd0;
        }

        .notification-title.full:hover:not(.notification-title-selected) {
            background-color: #ffb9af;
        }

        .notification-title.not-full:hover:not(.notification-title-selected) {
            background-color: #adffb4;
        }

        .notification-title-sections.full:hover {
            background-color: #ffb9af;
        }

        .notification-title-sections.not-full:hover {
            background-color: #adffb4;
        }

        .notification-title-selected {
            background-color: lightblue;
        }

        .notification-title-selected:hover {
            background-color: #94b6e6;
        }

        .tt-input, /* UPDATE: newer versions use tt-input instead of tt-query */
        .tt-hint {
            width: 230px;
            height: 50px;
            padding: 8px 12px;
            font-size: 24px;
            line-height: 30px;
            border: 2px solid #ccc;
            border-radius: 8px;
            outline: none;
            margin-left: -20px;
        }

        .tt-input { /* UPDATE: newer versions use tt-input instead of tt-query */
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }

        .tt-hint {
            color: #999;
        }

        .tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
            width: 230px;
            margin-left: -20px;
            margin-top: 12px;
            padding: 8px 0;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
            max-height: 150px;
            overflow-y: auto;
        }

        .tt-suggestion {
            padding: 3px 5px;
            font-size: 25px;
            line-height: 35px;
        }

        .tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
            color: #fff;
            background-color: #0097cf;

        }

        .tt-suggestion p {
            margin: 0;
        }

        /* entire container, keeps perspective */

        /* flip the pane when hovered */
        .flip-container.is-flipped .flipper {
            transform: rotateY(180deg);
        }

        .flip-container, .front, .back {
            width: 300px;
            height: 300px;
        }

        /* flip speed goes here */
        .flipper {
            transition: 0.7s;
            transform-style: preserve-3d;
        }

        /* hide back of pane during swap */
        .front, .back {
            backface-visibility: hidden;
            position: absolute;
        }

        /* front pane, placed above back */
        .front {
            z-index: 2;
            /* for firefox 31 */
            transform: rotateY(0deg);
        }

        /* back, initially hidden pane */
        .back {
            transform: rotateY(180deg);
        }


    </style>
{% endblock %}

{% block preview_title %}Waitlist{% endblock %}

{% block title %}Waitlist{% endblock %}
{% block content %}
    <div class="container"
         style="max-width: 1200px; text-align: center">
        <div id="top_div">
            {% if request.user.is_authenticated %}
                <div class="row">
                    <div class="col-md-4" style="padding-top: 10px">
                        <div id="the-basics">
                            <input id="auto_complete" class="typeahead" type="text" placeholder="Search for Courses">
                        </div>
                        <div class="flip-container"
                             id="flipper_container" hidden>
                            <div class="flipper">
                                <div class="front" style="padding-top: 10px" id="sections_div"
                                >
                                    <div class="card mx-auto border-primary"
                                         style="max-width: 300px;">
                                        <div class="card-header">
                                            Sections
                                        </div>
                                        <div class="scrollable-card" style="overflow-y: auto;max-height:250px;">
                                            <ul class="list-group list-group-flush" id="card_list_sections"
                                                style="cursor: pointer;">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="back" style="padding-top: 10px"
                                     id="sections_div_details">
                                    <div class="card mx-auto border-primary"
                                         style="max-width: 300px;">
                                        <div class="card-header">
                                            Details
                                        </div>
                                        <div class="card-body" id="section_details_card" style="text-align: left">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-top: 10px">
                        <div class="card mx-auto border-primary"
                             style="max-width: 300px;">
                            <div class="card-header">
                                Your Waitlists
                            </div>
                            <div class="scrollable-card" style="overflow-y: auto;max-height:300px;">
                                <div class="card-body" id="list_card_loading">
                                    <i style="font-size: 5em;padding: 10px" class="fas fa-sync fa-spin"></i>
                                </div>
                                <ul class="list-group list-group-flush" id="card_list" style="cursor: pointer;">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5" style="padding-top: 10px">
                        <div class="card mx-auto border-primary"
                             style="max-width: 600px;">
                            <div class="card-header">
                                Details
                            </div>
                            <div class="card-body" id="details_card" style="text-align: left">
                                <div style="text-align: center">
                                    <i style="font-size: 5em;padding: 10px"
                                       class="fas fa-sync fa-spin"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {% else %}
                <div class="container">
                    <h1 class="display-4">Not Logged In</h1>
                    <p class="lead">Login to View Waitlist</p>
                </div>
            {% endif %}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.jquery.min.js"></script>
    <script async>
        let waitlist = {};
        let old_selected;
        let selected_sections = [];
        let selected_sections_dict = {};
        let details = document.getElementById('details_card');
        let section_details = document.getElementById('card_list_sections');
        let sections_div = document.getElementById('sections_div');
        let sections_div_details = document.getElementById('sections_div_details');
        let section_details_card = document.getElementById('section_details_card');
        let autocomplete = $('#auto_complete');
        autocomplete.typeahead({
                hint: true,
                highlight: true,
                minLength: 2
            },
            {
                name: 'name',
                display: 'name',
                limit: 300,
                source: function (query, syncResults, asyncResults) {
                    $.get('/api/courses/course-search/?course=' + query + '&term=201830', function (data) {
                        asyncResults(data);
                    });
                }
            },
        );
        autocomplete.on('typeahead:selected', function (evt, item) {
            let url = '/api/courses/course-match/';
            fetch(url, {
                method: 'post',
                credentials: "same-origin",
                body: JSON.stringify({course_list: [item.name], term: 201830}),
                headers: {
                    "X-CSRFToken": "{{csrf_token }}",
                    "Accept":
                        "application/json",
                    "Content-Type":
                        "application/json"
                },
            }).then((response) => {
                return response.json();
            }).then((response) => {
                selected_sections = response[item.name].filter((elem) => {
                    if (!(elem.crn in waitlist))
                        return elem;
                });
                populate_sections();
            })
        });
        let handle_remove = (crn) => {
            let url = '/api/users/waitlist/';
            fetch(url, {
                method: 'post', credentials: "same-origin", body: JSON.stringify({crn: crn}),
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                    "Accept":
                        "application/json",
                    "Content-Type":
                        "application/json"
                },
            }).then((response) => {
                return response.json();
            }).then((response) => {
                if (response.success) {
                    $.notify({
                        // options
                        title: '<b>Waitlist Updated' + '</b><br>',
                        message: 'Course ' + crn + ' has been removed from your Waitlist!'
                    }, {
                        // settings
                        type: 'success'
                    });
                }
                delete waitlist[crn];
                document.getElementById(crn).remove();
                if (Object.keys(waitlist).length === 0) {
                    document.getElementById("list_card_loading").removeAttribute("hidden");
                    document.getElementById("list_card_loading").innerText = 'No courses, waitlist a course to view.';
                }
                on_selected(Object.keys(waitlist)[0], false);
            })
        };
        let load_details = (crn) => {
            details.innerHTML = '<b>Course Name: </b>' + waitlist[crn].course.course_name + '--' + waitlist[crn].course.type + '<br>';
            details.innerHTML += '<b>Course ID: </b>' + waitlist[crn].course.course_id + '<br>';
            details.innerHTML += '<b>Available Seats: </b>' + waitlist[crn].course.available + '<br>';
            details.innerHTML += '<b>Total Seats: </b>' + waitlist[crn].course.capacity + '<br>';
            details.innerHTML += '<b>People in Waitlist: </b>' + waitlist[crn].users + '<br><br>';
            details.innerHTML += '<button onclick=handle_remove(' + crn + ') class="btn btn-primary">Remove</button>'
        };
        let on_selected = (crn, old = true) => {
            if (old_selected !== crn && Object.keys(waitlist).length > 0) {
                document.getElementById(crn).classList.add("notification-title-selected");
                if (old)
                    document.getElementById(old_selected).classList.remove('notification-title-selected');
                old_selected = crn;
                load_details(crn);
            } else if (Object.keys(waitlist).length === 0) {
                details.innerHTML = '<b>No Course Selected</b>';
            }
        };
        let get_waitlist = (command = null, data = null, identifier = null) => {
            let url = '/api/users/waitlist/';
            if (command)
                url += '?command=' + command;
            if (data || data === 0)
                url += '&' + identifier + '=' + data;
            fetch(url, {
                method: 'get', credentials: "same-origin",
                headers: {
                    "X-CSRFToken": "{% csrf_token %}",
                    "Accept":
                        "application/json",
                    "Content-Type":
                        "application/json"
                },
            }).then((response) => {
                return response.json();
            }).then((response) => {
                if (response.length > 0) {
                    response.sort(function (a, b) {
                        return parseInt(a.course.course_id.split('-')[2]) - parseInt(b.course.course_id.split('-')[2]);
                    });
                    let notifs_windows = document.getElementById("card_list");
                    document.getElementById("list_card_loading").setAttribute("hidden", true);
                    notifs_windows.innerHTML = '';
                    for (let i = 0; i < response.length; i++) {
                        let node = document.createElement("li");
                        node.id = response[i].course.crn;
                        node.className = 'list-group-item notification-title';
                        if (i === 0) {
                            node.className += ' notification-title-selected';
                            old_selected = response[i].course.crn;
                        }
                        if (response[i].course.available > 0)
                            node.className += ' not-full';
                        else
                            node.className += ' full';
                        node.onclick = () => on_selected(response[i].course.crn);
                        node.innerHTML = response[i].course.course_id + ': ' + response[i].course.crn;
                        notifs_windows.appendChild(node);
                        waitlist[response[i].course.crn] = response[i];
                    }
                    load_details(old_selected);
                } else {
                    document.getElementById("list_card_loading").innerText = 'No courses, waitlist a course to view.';
                    details.innerHTML = '<b>No Course Selected</b>';
                }
            })
        };
        get_waitlist();
        let add_to_waitlist = (crn) => {
            let url = '/api/users/notifications/';
            fetch(url, {
                method: 'post', credentials: "same-origin", body: JSON.stringify({crn: crn}),
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                    "Accept":
                        "application/json",
                    "Content-Type":
                        "application/json"
                },
            }).then((response) => {
                return response.json();
            }).then((response) => {
                if (response.success) {
                    $.notify({
                        // options
                        title: '<b>Waitlist Updated' + '</b><br>',
                        message: 'Course ' + crn + ' has been added to your Waitlist!'
                    }, {
                        // settings
                        type: 'success'
                    });
                }
                document.getElementById(crn + '-section').remove();
                get_waitlist();
                back_to_searching();
            })
        };
        let back_to_searching = () => {
            document.getElementById('flipper_container').classList.toggle('is-flipped');
        };
        let switch_to_section_details = (crn) => {
            let course = selected_sections_dict[crn];
            section_details_card.innerHTML = '<b>Course Name: </b>' + course.course_name + '--' + course.type + '<br>';
            section_details_card.innerHTML += '<b>Course ID: </b>' + course.course_id + '<br>';
            section_details_card.innerHTML += '<b>CRN: </b>' + crn + '<br>';
            section_details_card.innerHTML += '<b>Available Seats: </b>' + course.available + '<br>';
            section_details_card.innerHTML += '<b>Total Seats: </b>' + course.capacity + '<br>';
            if (course.available > 0) {
                section_details_card.style.backgroundColor = "#c2ffd0";
                section_details_card.innerHTML += '<b>Course is NOT full.</b><br>\'<br>';
            } else {
                section_details_card.style.backgroundColor = "#ffd1ca";
                section_details_card.innerHTML += '<b>Course IS full.</b><br>\'<br>';
            }
            section_details_card.innerHTML += '<button style="float:left;" onclick=back_to_searching(' + crn + ') class="btn btn-primary"><i class="fas fa-arrow-left"></i> Back</button>';
            section_details_card.innerHTML += '<button style="float:right;" onclick=add_to_waitlist(' + crn + ') class="btn btn-primary">Add <i class="fas fa-arrow-right"></i></button>';
            document.getElementById('flipper_container').classList.toggle('is-flipped');

        };
        let populate_sections = () => {
            section_details.innerHTML = '';
            for (let section of selected_sections) {
                let node = document.createElement("li");
                node.id = section.crn + '-section';
                node.className = 'list-group-item notification-title-sections';
                if (section.available > 0)
                    node.className += ' not-full';
                else
                    node.className += ' full';
                node.onclick = () => switch_to_section_details(section.crn);
                node.innerHTML = section.course_id + ': ' + section.crn;
                section_details.appendChild(node);
                selected_sections_dict[section.crn] = section;
            }
            document.getElementById('flipper_container').removeAttribute('hidden');
        };
    </script>
{% endblock %}